# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
# Ignorar todo o conteúdo de 'docker', exceto 'docker-compose.yml' e 'nginx.conf'
docker/*
!docker/debian/docker-compose.yml
!docker/debian/restoure_leav.sh
!docker/debian/backup_leav.sh
!docker/debian/setup.sh
!docker/nginx.conf

# Ignorar todo o conteúdo de 'www', exceto 'www/uploads/index.php'
www/*
!www/uploads/index.php
